.btn {
  //border-radius: $border-radius-lg !important;
}

.btn-pill {
  border-radius: 10rem;
}

.btn-square {
  border-radius: 0;
}

.btn .feather {
  width: 14px;
  height: 14px;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @include button-color($white);
    @include button-color-hover($white);
  }

  .btn-outline-#{$color} {
    @include button-color-hover($white);
    @include button-color-active($white);
  }
}

@each $color, $value in $social-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
    @include button-color($white);
    @include button-color-hover($white);
  }
}

.btn-light,
.btn-white,
.btn-outline-light,
.btn-outline-white {
  border-color: $gray-border !important;
  color: $black !important;
  background: $gray-background !important;

  &:hover:not(:disabled):not(.disabled),
  &.hover:not(:disabled):not(.disabled) {
    background: $blue-background !important;
    border-color: $blue-border !important;
    color: $blue !important;
  }
}
